//Common Mix for morethen two classes
@mixin background {
  stroke: black;
  fill: black;
  stroke-width: 1px;
  opacity: 0.6;
}
@mixin border {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2px;
}
@mixin pause {
  stroke-width: 4;
  fill: transparent;
  stroke: transparent;
}
@mixin play {
  stroke-width: 1;
  fill: transparent;
  stroke: transparent;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  height: 70%;
  overflow: auto;
  overflow: hidden;
  touch-action: pan-y;

  .swiper-list {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 70%;
  }
}
.previousNext {
  position: relative;
  top: -400px;
  display: flex;
  justify-content: space-between;

  .nextButton {
    margin-right: 30px;
  }
  .prevButton {
    margin-left: 30px;
    align-items: center;
  }
}

//Play Pause Button
.playPauseButton {
  background-color: black;
  opacity: 0.6;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  position: relative;
  top: 50px;
  z-index: 100;
  left: 30px;

  &:hover {
    background-color: rgb(0, 166, 255);
  }

  .play {
    position: relative;
    left: 8px;
  }
  .pause {
    position: relative;
    left: 8px;
  }
}

//TabIndicators
.tabWrapper {
  width: 20%;
  background-color: rgba(0, 183, 255, 0.285);
  border-radius: 10px;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -100px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;

  .tab {
    background-color: rgba(0, 0, 0, 0.375);
    border: 2px solid white;
    border-radius: 50%;

    &:hover {
      background-color: rgb(0, 140, 255);
      border: 2px solid white;
    }
  }
  .tabSelected {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
  }
}
